<!doctype html>
<html ng-app="werewolfApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Werewolf Narration Helper</title>
  
    <script src="lib/angular.min.js"></script>
    <script src="lib/underscore-min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/factories.js"></script>
    <script src="js/controllers.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="css/app.css"></link>
  </head>
  <body>
    <div class="container">
      <div class="row" ng-controller="RoleController">
         <div class="col-md-12" ng-show="renderSection">
            <h1>Select Roles</h1>
            <h3>Player Count: {{playerCount()}}, Balance: {{playerBalance()}}</h3>
            
            <div class="row" ng-repeat="role in roles | filter:shouldDisplayRole">
               <div class="col-md-2"><h4>{{role.name}}</h4></div>
               <div class="col-md-2"><h4>{{role.count}}</h4></div>
               <div class="col-md-4">
                  <button type="button" class="btn" ng-click="decreaseCount(role)"><span class="glyphicon glyphicon-minus"></span></button>
                  <button type="button" class="btn" ng-click="increaseCount(role)"><span class="glyphicon glyphicon-plus"></span></button>
               </div>
            </div>
            
            <button type="button" class="btn" ng-click="updateInstructions()">Done</button>
          </div>
      </div>
      <div class="row" ng-controller="ScriptController"> 
         <div class="col-md-12" ng-show="renderSection">
            <h1>Script</h1>
            
            <h2>Round {{round}}</h2>
            <button type="button" class="btn" ng-click="round = round - 1"><span class="glyphicon glyphicon-minus"></span></button>
            <button type="button" class="btn" ng-click="round = round + 1"><span class="glyphicon glyphicon-plus"></span></button>
            
            <ul>
               <li ng-repeat="instruction in instructions | filter:activeInRound"> 
                  {{ instruction.message }}
               </li>
            </ul>
         </div>
         <div class="col-md-12" ng-show="renderSection">
            <button class="btn" ng-click="defineRoles()">Back</button>
         </div>
      </div>
    </div>
  </body>
</html>